<app-user-input (newDirectionsRequestEvent)="generateDirections($event)"></app-user-input>

<google-map height="400px"
            width="750px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)">
    <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
                            [directions]="directionsResults">
    </map-directions-renderer>
    <map-marker-clusterer [imagePath]="markerClustererImagePath">
        <map-marker *ngFor="let incidentPosition of incidentPositions"
                    [position]="incidentPosition">
        </map-marker>
    </map-marker-clusterer>
</google-map>